* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #d9d9d9;
}

body {
    background-image: url(https://t4.ftcdn.net/jpg/06/06/47/39/240_F_606473980_TWne700xNxTydECYTrp7cLv5Fa9ptlOn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 71vh;
    width: 100vw;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.xxx {
    background-color: rgb(162, 162, 162);
    width: 50%;
    height: 60%;
    margin-top: 15rem;
    border-radius: 3rem;
}

h1 {
    font-weight: 400;
    font-family: "Inter-Regular", sans-serif;
    font-size: 4rem;
    text-align: center;
    display: flex;
    align-self: center;
    margin-top: 4rem;
    margin-left: 23rem;
}

span {
    color: #ffffff;
    font-family: "Inter-BoldItalic", sans-serif;
    font-weight: 700;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    border: 0.02rem solid black;
    width: 50rem;
    height: 25rem;
    background-color: #f9f6f3;
    margin-top: 2rem;
    margin-left: 11.3rem;
    margin-bottom: 5rem;
}
input {
    width: 80%;
    height: 13%;
    margin-top: 4rem;
    margin-left: 5rem;
}

button {
    width: 13rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 0.6rem;
    height: 3rem;
    border: none;
    color: white;
    font-size: 2rem;
    background-color: #2cadca;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    cursor: pointer;
    margin-left: 19rem;
}